@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "SF Pro Display", sans-serif;
    line-height: 1.3;
    font-size: 18px;
  }

  h1 {
    @apply font-bold text-6xl;
  }

  h2 {
    @apply font-bold text-5xl;
  }

  h3 {
    @apply font-bold text-4xl;
  }

  h4 {
    @apply font-bold text-3xl;
  }

  h5 {
    @apply font-bold text-2xl;
  }

  h6 {
    @apply font-bold text-xl;
  }

  body {
    @apply bg-white dark:bg-black dark:text-white;
  }
}

@layer components {
  .container {
    max-width: 1056px;
    padding: 0px 16px;
    margin: 0 auto;
  }

  .container-lg {
    max-width: 1302px;
    padding: 0px 16px;
    margin: 0 auto;
  }

  /* Animations */
  .fade-in-down-enter,
  .fade-in-down-leave-to {
    top: 0px;
    opacity: 0;
  }

  .fade-in-down-leave,
  .fade-in-down-enter-to {
    top: 50px;
  }

  .fade-in-down-enter-active,
  .fade-in-down-leave-active {
    transition: 300ms;
  }

  .slide-up-enter-active,
  .slide-up-leave-active {
    transition: all 0.25s ease-out;
  }
  .slide-up-enter-from {
    opacity: 0;
    transform: translateY(30px);
  }
  .slide-up-leave-to {
    opacity: 0;
    transform: translateY(-30px);
  }
}
